$c-white: #fff;
$c-white-trans: rgba(#fff, .8);
$c-extremely-light-gray: #fafafa;
$c-very-light-gray: #efefef;
$c-light-gray: #ececec;
$c-light-gray-middle-trans: rgba($c-light-gray, .5);
$c-light-gray-high-trans: rgba($c-light-gray, .25);
$c-bit-light-gray: #e3e4e5;
$c-gray: #bbb;
$c-gray-2: #888;
$c-bit-dark-gray: #5e6870;
$c-dark-gray: #444;
$c-dark-gray-high-trans: rgba($c-dark-gray, .15);
$c-dark-gray-middle-trans: rgba($c-dark-gray, .6);
$c-very-dark-gray: #222;
$c-peachy: #ff7955;
$c-peachy-low-trans: rgba($c-peachy, .9);
$c-magenta: #f4327f;
$c-magenta-low-trans: rgba($c-magenta, .9);
$c-magenta-middle-trans: rgba($c-magenta, .4);
$c-magenta-high-trans: rgba($c-magenta, .2);
$c-black: #000;
