.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-alarm {
  font-size:(55 / 10) * 1rem;
  width:(55 / 55) * 1em;
}
.icon-bookmark-white {
  font-size:(431.972 / 10) * 1rem;
  width:(431.972 / 431.972) * 1em;
}
.icon-chat {
  font-size:(60 / 10) * 1rem;
  width:(60 / 60) * 1em;
}
.icon-compass {
  font-size:(59 / 10) * 1rem;
  width:(59 / 59) * 1em;
}
.icon-customer-support {
  font-size:(569 / 10) * 1rem;
  width:(569 / 569) * 1em;
}
.icon-electronics {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-man-user {
  font-size:(350 / 10) * 1rem;
  width:(350 / 350) * 1em;
}
.icon-martini {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-menu {
  font-size:(124 / 10) * 1rem;
  width:(124 / 124) * 1em;
}
.icon-more {
  font-size:(60 / 10) * 1rem;
  width:(60 / 60) * 1em;
}
.icon-more-2 {
  font-size:(60 / 10) * 1rem;
  width:(60 / 60) * 1em;
}
.icon-parking {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-placeholder {
  font-size:(61.17 / 10) * 1rem;
  width:(61.17 / 61.17) * 1em;
}
.icon-previous {
  font-size:(489 / 10) * 1rem;
  width:(489 / 489) * 1em;
}
.icon-restaurant {
  font-size:(489.77 / 10) * 1rem;
  width:(489.77 / 489.77) * 1em;
}
.icon-search {
  font-size:(56.97 / 10) * 1rem;
  width:(56.97 / 56.97) * 1em;
}
.icon-share {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-swimming-figure {
  font-size:(941.214 / 10) * 1rem;
  width:(941.214 / 941.214) * 1em;
}
.icon-tick {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-time-and-date {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-turn-off {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-vinyl {
  font-size:(512 / 10) * 1rem;
  width:(512 / 512) * 1em;
}
.icon-wifi {
  font-size:(489.3 / 10) * 1rem;
  width:(489.3 / 489.3) * 1em;
}
.icon-world {
  font-size:(392.36 / 10) * 1rem;
  width:(392.36 / 392.36) * 1em;
}
